.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
.best-practices-list {
  margin-left: 0;
  text-align: left;
}
.password-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 20px;
}
.copy-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; /* Removes underline */

}
.copy-btn:hover {
  color: red;
}
.bi-copy {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content:start;
  align-items: top;
  font-size: 1rem;
  padding: 2px;
}
.tooltip {
  position: absolute;
  bottom: 100%; /* Position above the image */
  left: 50%;
  transform: translateX(-50%); /* Center the tooltip */
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 4px;
  opacity: 1;
  visibility: visible;
  white-space: nowrap; /* Prevent text wrapping */
}
.passwordInput {
  width: 500px;
  border: 2px solid black;
  border-radius: 5px;
  height: 100%;
  font-size: 1rem;
}
.pw-options {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.length-input {
  margin: 5px;
  width: 150px;
}